ollama
python-dotenv
SpeechRecognition
PyAudio
edge-tts
pygame
pyttsx3
pywebview

# Para rodar o J.A.R.V.I.S localmente com voz em terminal utilize:
# cd backend
# pip install -r requirements.txt
# python -m services.brain